.container {
    width: 100px;
    overflow: hidden;
  
    border: 3px solid black;
    border-radius: 10px;
   
    padding-top: 10px;
    
  }
.image{
    width: 60px;
    margin-bottom: 3px;
}
  .item{
    font-weight: 600;
    font-size: 25px;
    margin: 0;
  }

  .online{
    font-weight: 500;
    margin: 0 0 10px 0;
    color: rgb(4, 179, 4);
  }
  .offline{
    font-weight: 500;
    margin: 0 0 10px 0;
    color: red;
  }

  .list{
    display: flex;
    gap: 15px;

    margin-top: 20px; 
    margin-bottom: 30px;
  }