.table {
    border-collapse: collapse;
  }
.tableHead{
    font-weight: 700;

    background-color: #242222;
    color: #fff;
}

.tableTr:nth-child(even){
background-color: #C5C6CF;
}

  .tableTh{
      font-weight: 500;
    text-transform: capitalize;  

    border: 2px solid black; 
    padding: 5px 63px;
  }
  
  